
@import url("hover.css");
@import 'node_modules/scut/dist/scut';

body{
  background-color: #007bff;
}
h1{
  text-align: center;
  color: white;
  font-size: 61px;
}
div{
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin: 20px;
}

.col{
  display: block;
}
button{
  border: none;
  width: 130px;
  padding: 5px;
  margin: 10px;
  text-align: center;
}
#blockd{
  width: 50%;
  font-size: 24px;
}
#blockg{
  width: 40%;
  font-size: 24px;

}
#blockclock{
  width: 100%;
  border: white solid 2px;
  border-radius: 3rem;
  div:nth-child(1){
    font-size: 56px;
    p{
      text-align: center;
      margin: 0px;
      width: 100%;
    }
  }
}
.triangleup{
  @include scut-triangle(up, 2rem 2rem,white);
  cursor: pointer;
}

.triangledown{
  @include scut-triangle(down, 2rem 2rem,white);
  cursor: pointer;
}

.between{
  padding: 1rem;
}